/*#############################################################
Name: Light
Date: 2006-08-20
Description: Bright and smooth.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */

@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
	margin: 0;
	padding: 0;
}
a {
/*	color: #567; */
	color: #0000EE;
}
a:hover {
	color: #28E;

}
body {
	background: #F2F2F2 url(img/bg.gif) repeat-y center top;
/*	color: #555A60; */
	color:#000000;
/*	font: normal 62.5% "Poppins",sans-serif;*/
	font: normal 77.5% "Poppins",sans-serif;
	margin: 0;
}
p,cite,code {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}

ul {
	font-size: 1.2em;
	padding-bottom: 1.0em;
}

ul ul {
	font-size: 1.0em;
	padding-bottom: 0.8em;
}

h1 {
	font-size: 1.4em;
	margin-bottom: 0px;
}
li {
	list-style: url(img/li.gif);
	margin-left: 18px;
}


code {
	background: url(img/bgcode.gif);
	border: 1px solid #F6F6F6;
	color: #666;
	display: block;
	font: normal 1.1em "Poppins",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
cite {
	background: url(img/quote.gif) no-repeat;
	color: #456;
	display: block;
	font: normal 1.4em "Poppins",serif;
	padding-left: 28px;
}
h1,h2,h3 {
/*	color: #579; */
    color: #b73a0d;
	padding-top: -20px;
}

/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
	margin: 0 auto;
	width: 730px;
}

/* title */
.title {
	float: left;
	margin-top: 12px;
	text-align: center;
	width: 680px;
}
.title h1 {
	font: normal 2em "Poppins",sans-serif;
}
.title h2 {
/*	color: #999;*/
	color:#000000;
/*	font: normal 1.2em "Poppins",sans-serif;*/
	font: normal 1.2em "Poppins",sans-serif;
}
}

/* navigation */
.navigation {
	background: url(img/holder.jpg) no-repeat;
	height: 100px;
	padding: 0 16px;
}
.navigation a {
	border-left: 1px solid #DDD;
	border-right: 1px solid #FFF;
	color: #89A;
	float: right;
	font: bold 1.2em "Poppins",sans-serif;
	margin-top: 9px;
	padding: 58px 18px 8px;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	background: #FFF url(img/navhover.gif) repeat-x;
	color: #28E;
	padding: 56px 18px 10px;
}

/* holders */
.holder {
	background: url(img/bgholder.jpg) repeat-y;
	padding: 0 32px;
}
.holder_top,.footer {
	clear: both;
	background: url(img/holder.jpg) no-repeat;
	height: 40px;
}

/* footer */
.footer {
	background-position: left bottom;
	color: #666;
	font-size: 1.2em;
	text-align: center;
}